/* Reseta o estilo padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background-image: url('../../IMGs/backgroundsportflix.jpg');
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
}

/* Container Principal */
.container {
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
    height: 70%;
    margin: auto;
    background-color: var(--container-bg-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suavizada */
}

/* Header */
.header {
    border-radius: 10px;
    text-align: center;
}

.header .logo {
    max-width: 350px;
    margin-top: 20px;
    height: auto;
    border-radius: 5px;
}

/* Formulário de Login */
.login-form {
    padding: 50px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--label-color);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--input-border-color);
    font-size: 14px;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave para foco */
}

/* Estilo de foco nos inputs */
.input-group input:focus {
    outline: none;
    border-color: #57921b; /* Cor em harmonia com o design */
    box-shadow: 0 0 5px rgba(87, 146, 27, 0.5);
}

/* Ajuste do ícone de visibilidade de senha */
.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.toggle-password {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--toggle-password-color);
}

/* Botões personalizados */
.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #57921b;
    color: #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estado de hover nos botões */
.btn-primary:hover {
    background-color: #467017;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid var(--input-border-color);
    color: var(--label-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #57921b;
    color: #ffffff;
    border-color: #57921b;
}

.create-account {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--label-color);
}

.create-account a {
    color: #ecc660;
}

/* Modal de Redefinição de Senha */
.modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: var(--container-bg-color);
    padding: 20px;
    border-radius: 10px;
    color: var(--input-text-color);
}

.modal-close {
    float: right;
    cursor: pointer;
    color: var(--close-btn-color);
}

.modal-close:hover,
.modal-close:focus {
    color: var(--close-btn-hover-color);
}

/* Estilos Específicos para Dark Theme */
@media (prefers-color-scheme: dark) {

    .header .logo{
        margin-top: 20px;
        width: 90%;
        height: auto;
        border-radius: 5px;
        content: url('../../IMGs/logo_lithe.jpg'); /* Imagem padrão para o tema escuro */
    }

    :root {
        --background-color: #000;
        --container-bg-color: #222222;
        --container-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        --header-text-color: #ffffff;
        --header-subtext-color: #ffffff;
        --label-color: #ffffff;
        --input-border-color: #444;
        --input-bg-color: #333;
        --input-text-color: #ffffff;
        --toggle-password-color: #ffffff;
        --popup-border-color: #444;
        --close-btn-color: #ccc;
        --close-btn-hover-color: #fff;
    }
}

/* Estilos Específicos para Light Theme */
@media (prefers-color-scheme: light) {

    .header .logo{
        margin-top: 20px;
        width: 90%;
        height: auto;
        border-radius: 5px;
        content: url('../../IMGs/logo_dark.jpg'); /* Imagem padrão para o tema claro */
    }

    :root {
        --background-color: #f4f4f4;
        --container-bg-color: #ffffff;
        --container-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        --header-text-color: #ffffff;
        --header-subtext-color: #ecc660;
        --label-color: #555555;
        --input-border-color: #cccccc;
        --input-bg-color: #ffffff;
        --input-text-color: #000000;
        --toggle-password-color: #555555;
        --popup-border-color: #cccccc;
        --close-btn-color: #aaa;
        --close-btn-hover-color: #000;
    }
}

/* Estilos Responsivos */

/* Para Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 60%; 
        padding: 40px;
    }

    .logo {
        width: 120px;
        height: auto;
    }

    .input-group input {
        padding: 15px;
        font-size: 16px;
    }

    .btn-primary, .btn-secondary {
        padding: 15px;
        font-size: 18px;
    }

    .create-account {
        font-size: 16px;
    }
}

/* Para Desktop */
@media (min-width: 1025px) {
    .container {
        height: 90%;
        width: 40%;
        padding: 10px;
    }

    .header .logo {
        max-width: 600px;
    }

    .input-group input {
        padding: 10px;
        font-size: 20px;
    }

    .btn-primary, .btn-secondary {
        padding: 20px;
        font-size: 20px;
        border-radius: 8px;
    }

    .create-account {
        font-size: 18px;
    }
}
