/* Estilos específicos para a seção de perfil */
.perfil-section {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.perfil-section .input-group {
    margin-bottom: 15px;
}

.perfil-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555555;
}

.perfil-section input,
.perfil-section textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 14px;
    background-color: #ffffff;
    color: #000;
}

.perfil-section textarea {
    resize: none;
}

.perfil-section .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.perfil-section .input-group input[type="number"] {
    -moz-appearance: textfield;
}

.perfil-section .input-group input[type="number"]::-webkit-outer-spin-button,
.perfil-section .input-group input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
