/* Estilos base para mobile */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0684B9, #F26835);
    color: white;
    margin: 0; /* Remove margens padrão */
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; /* Reduzimos o padding para mobile */
    border-radius: 8px;
    align-self: center;
    width: 95%; /* Ocupa quase toda a largura em mobile */
    margin: 20px auto; /* Centraliza e adiciona margens verticais */
}

.content {
    display: flex;
    flex-direction: column;
    align-self: auto;
    width: 90%; /* Ocupa toda a largura do container em mobile */
}

.filter-menu,
.layout-options {
    display: flex;
    flex-direction: column; /* Alinha os botões em coluna em mobile */
    gap: 10px;
    width: 100%;
}

.video-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.video-item {
    /* Estilos para cada item da lista (ajuste para mobile) */
    width: 100%;
}

.criar-partida-button {
    margin-top: 20px;
    width: 100%;
}

footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

h3{
    justify-content: center;
    font-size: 190%;
    border: solid 3px black;
    padding: 5px;
    border-radius: 7%;
}

/* Estilos para telas maiores (tablets e desktops) */
@media (min-width: 768px) {
    .container {
        width: 80%;
        padding: 30px; /* Aumentamos o padding para telas maiores */
    }

    .filter-menu,
    .layout-options {
        flex-direction: row; /* Alinha os botões em linha em telas maiores */
        justify-content: space-around;
    }

    .video-list.two-columns {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .video-list.grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .video-item {
        /* Estilos para cada item da lista (ajuste para telas maiores) */
        width: calc(50% - 10px); /* Duas colunas com espaçamento */
    }
}

/* Estilos para telas ainda maiores (desktops grandes) */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .video-list.grid .video-item {
        width: calc(33.33% - 10px); /* Três colunas com espaçamento */
    }
}
