:root {
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --background-color-light: #FFFFFF;
    --background-color-dark: #121212;
    --text-color-light: #000000;
    --text-color-dark: #FFFFFF;
    --item-background-light: #F5F5F5;
    --item-background-dark: #333333;
    --item-text-color-light: #000000;
    --item-text-color-dark: #FFFFFF;
}

body {
    margin: 0;
    margin-top: 350px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-light);
    background-image: url('../../IMGs/backgroundsportflix.jpg'); /* Substitua pelo caminho da sua imagem */
    height: 100vh;
    color: var(--text-color-light);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 8px 16px rgb(0, 0, 0);
    background-color: rgba(204, 204, 204, 0.35);
}

.header h1 {
    text-align: center;
    font-size: 24px;
    color: var(--text-color-light);
    margin: 0;
}

.menu-icon, .settings-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-banner{
    display: none;
}

.quadra-item {
    display: flex;
    align-items: center;
    padding: 15px;   
    box-shadow: 0px 8px 16px rgb(0, 0, 0);
    background-color: rgba(204, 204, 204, 0.35);
    border-radius: 10px;
    color: var(--item-text-color-light);
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quadra-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.quadra-info {
    flex-grow: 1;
}

.quadra-info h3 {
    margin: 0;
    font-size: 40px;
    color: var(--text-color-light);
}

.quadra-info p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: var(--text-color-light);
}

.quadra-rating {
    display: flex;
    align-items: center;
}

.quadra-rating i {
    color: #FFD700; /* Cor das estrelas */
    margin-left: 5px;
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }

    .search-bar input {
        background-color: var(--item-background-dark);
        color: var(--text-color-dark);
    }

    .quadra-info h3 {
        color: var(--text-color-dark);
    }

    .quadra-info p {
        color: var(--text-color-dark);
    }

    .header h1 {
        color: var(--text-color-dark);
    }
}

/* Tema claro */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-color-light);
        color: var(--text-color-light);
    }

    .search-bar input {
        background-color: var(--item-background-light);
        color: var(--text-color-light);
    }

    .quadra-info h3 {
        color: var(--text-color-light);
    }

    .quadra-info p {
        color: var(--text-color-light);
    }

    .header h1 {
        color: var(--text-color-light);
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .header h1 {
        font-size: 20px;
    }

    .quadra-info h3 {
        font-size: 18px;
    }

    .quadra-info p {
        font-size: 12px;
    }

    .search-bar input {
        padding: 8px;
    }

    .quadra-item {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 18px;
    }

    .quadra-info h3 {
        font-size: 17px;
    }

    .quadra-info p {
        font-size: 10px;
    }

    .search-bar input {
        padding: 6px;
    }

    .quadra-item {
        padding: 8px;
    }

    .quadra-rating i{
        width: 20px;
    }
}
