.video-item.destaque {
    box-shadow: 0 0 20px #FFA500, 0 0 40px #FFA500; /* Efeito neon laranja */
    margin: 50px auto;
}

#quadra-nome{
    display: block;
    color: black;
}

.input-field, .input-field{
    width: 48%; /* Cada campo ocupa 48% da largura, com 4% de margem entre eles */
    margin: 0 2%;
}

/* Estilos dos vídeos (exemplo) */
.video-item {
    background-color: #fff; /* Adicione um fundo para visualizar o elemento */
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px; /* Adiciona margem inferior para separar os vídeos */
    width: 100%; /* Garante que o vídeo ocupe toda a largura do container */
}

.video-item video {
    display: flex;
    width: 100%; /* Garante que o vídeo ocupe toda a largura do container */
    height: auto;  /* Mantém a proporção do vídeo */
}

/* Estilos básicos para a lista suspensa */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content li:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }