:root {
  --primary-color: #007bff;
  --border-color-light: #ced4da;
  --border-color-dark: #555;
  --text-color-light: #212529;
  --text-color-dark: #e9ecef;
  --background-color-light: #f8f9fa;
  --background-color-dark: #121212;
}

body.light-theme {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --border-color: var(--border-color-light);
}

body.dark-theme {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --border-color: var(--border-color-dark);
}

body {
  font-family: 'Readex Pro', sans-serif;
  margin-top: 0 !important;
  margin: 20px;
  max-width: 100%;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
}

.menu-icon, .settings-icon {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}

h1 {
  font-size: 22px;
  color: white;
  margin: 0;
  text-align: center;
}

.form-group {
  margin: 20px;
  margin-left: 17%;
}

.form-row {
  display: flex;
  gap: 100px;
  justify-content: center !important;
  align-items: center;
  justify-content: space-between;
}

.form-item {
  flex: 1;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"], select {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  max-width: 48%;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.error-message {
  color: red;
  display: none;
  text-align: center;
}

.error-message.show {
  display: block;
}

video {
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.video-item {
  margin-bottom: 20px;
  text-align: center;
}

.video-item.destaque {
  border: 2px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 767px) {
  h1 {
      font-size: 18px;
  }

  .menu-row {
      padding: 5px;
  }

  .form-row {
      flex-direction: column;
      align-items: stretch;
  }

  input[type="date"], select {
      font-size: 14px;
      max-width: 100%;
  }

  video {
      width: 100%;
      height: auto;
  }
}

/* Responsividade para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
      font-size: 20px;
  }

  input[type="date"], select {
      font-size: 16px;
      max-width: 48%;
  }

  video {
      width: 100%;
      height: auto;
  }
}

/* Responsividade para desktops */
@media (min-width: 1024px) {
  h1 {
      font-size: 24px;
  }

  .menu-row {
      padding: 15px;
  }

  input[type="date"], select {
      font-size: 18px;
      max-width: 48%;
  }

  video {
      width: 320px;
      height: 240px;
  }
}
